<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>BT1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Baitap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormMultiValuesDemo</display-name>
    <servlet-name>FormMultiValuesDemo</servlet-name>
    <servlet-class>BT1_2.FormMultiValuesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormMultiValuesDemo</servlet-name>
    <url-pattern>/FormMultiValuesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>BT1_3.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>BT2.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/SurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumGuessServlet</display-name>
    <servlet-name>NumGuessServlet</servlet-name>
    <servlet-class>BT3_1.NumGuessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumGuessServlet</servlet-name>
    <url-pattern>/NumGuessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProcessServlet</display-name>
    <servlet-name>SearchProcessServlet</servlet-name>
    <servlet-class>BT2_1.SearchProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProcessServlet</servlet-name>
    <url-pattern>/SearchProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController2_1_3</display-name>
    <servlet-name>LoginController2_1_3</servlet-name>
    <servlet-class>BT2_1.LoginController2_1_3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController2_1_3</servlet-name>
    <url-pattern>/LoginController2_1_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizCareerTestServlet</display-name>
    <servlet-name>QuizCareerTestServlet</servlet-name>
    <servlet-class>BT4.QuizCareerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizCareerTestServlet</servlet-name>
    <url-pattern>/QuizCareerTestServlet</url-pattern>
  </servlet-mapping>
</web-app>